.login{
    background-image: url("../photos/login.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.login_card{
    box-shadow: -3px -3px 9px #aaa9a9a2,
              3px 3px 7px rgba(147, 149, 151, 0.671);
}
.login_card .login_button{
    color: rgb(9, 7, 7);
     font-size: 20px;
  font-weight: 500;
  border: 2px solid rgba(255, 255, 255, 0.438);
  background: rgba(105, 105, 105, 0);


}
.login_card .login_button:hover{
    color: rgb(9, 7, 7);
  border: 2px solid rgba(9, 9, 1, 0.438);
  background: rgba(14, 31, 186, 0);
}
.login_card .login_input:active{
    border: 2px solid rgba(9, 9, 1, 0.438);

}
.login_card .login_input:hover{
    border: 2px solid rgba(9, 9, 1, 0.438);

}